<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.mapper.UserMapper">

    <!-- 插入用户 -->
    <insert id="insertuser" parameterType="com.ml.pojo.User">
        INSERT INTO users (username, password) VALUES (#{username}, #{password})
    </insert>

    <!-- 根据用户名查询用户 -->
    <select id="selectuser" parameterType="String" resultType="com.ml.pojo.User">
        SELECT * FROM users WHERE username = #{username} and password = #{password}
    </select>

</mapper>